.slider {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

.plan {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
}

.plan h4 {
    font-size: 24px;
    font-weight: bold;
}

.plan p {
    font-size: 16px;
    color: #888;
}

.plan.active {
    background-color: #4caf50;
    color: #fff;
}

.plan.active h4 {
    color: #fff;
}

.plan.active p {
    color: #eee;
}